@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-image: url(https://e0.pxfuel.com/wallpapers/608/361/desktop-wallpaper-code-programming-dark-text-technologies-technology-notebook-laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: white;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    height: 100vh;
    width:auto;
}
.captionbutton-container{
    display: flex;
    justify-content: space-between;
}
#school_year,
#select-year,
span{
    padding-left: 5px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-right: 2px;
}
#select-year{
    margin-left: 15px;
    color: white;
}
#st-name{
    display: inline-flex;
    margin-left: 30px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    
}
#stname{
    margin-left: 10px;
    display: inline-flex;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
#logout_btn{
    text-align: center;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0)  ;
    padding: 4px;
    border: 1px solid white;
    font-family: 'Open Sans', sans-serif;
    border-radius: 4px;
    color: white;
    transition: all 600ms ease;
}
#logout_btn:hover{
    background-color: red;
}
.table{
    width: 100%;
    border-collapse: collapse;
    
    
}
.table td,
.table th{
    padding: 8px;
}
.table th{
    color: black;
}
.table th:hover{
    color: darkblue;
}

#table-design{
    margin-top: 5px;
    max-height: 80vh;
    overflow-y: auto;
    border: 2px solid white;
    border-radius: 10px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 35px;
}
#copyright{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center; 
}
@media (max-width: 1000px) {
    .user-info{
        display: block;
    }
    #st-name, span{
        margin: 0px;
        padding: 0px;
    }
    #select-year{
        display: block;
        position: relative;
        margin: 0px;
    }
    .table-design{
        overflow-x: auto;
    }
    .table{
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    
}
@media (max-width: 700px) {
   .captionbutton-container{
     display: block;
     width:auto;
    }
    .user-info{
        display: block;
    }
    #st-name, span{
        margin: 0px;
        padding: 0px;
    }
    #select-year{
        display: block;
        position: relative;
        margin: 0px;
    }
    .table-design{
        margin-top:10px;
        overflow-x: auto;
    }
    .table{
        display: block;
        max-height: 100vh;
        overflow-x: auto;
        white-space: nowrap;
    }
    #copyright{
      margin-top:100px;
    }
}