@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

.container {
    /* outline: 1px solid; */
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* 2xl */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

/* xl */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

/* lg */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

/* md */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
    }
    .first_sem {
        overflow-x: auto;
      }
}

/* sm */
@media (max-width: 640px) {
    .container {
        max-width: 475px;
    }
}

/* xs */
@media (max-width: 475px) {
    .container {
        width: 100%;
    }
}
/*
@media only screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
    }
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr { border: 1px solid #ccc; }
    td {
      border: none;
      border-bottom: 1px solid #eee;
      position: relative;
      padding-left: 50%;
      white-space: normal;
      text-align:left;
    }
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      text-align:left;
      font-weight: bold;
    }
    td:nth-of-type(1):before { content: "Course Code"; }
    td:nth-of-type(2):before { content: "Course Description"; }
    td:nth-of-type(3):before { content: "Trimester"; }
    td:nth-of-type(4):before { content: "Prelim Grade"; }
    td:nth-of-type(5):before { content: "Midterm Grade"; }
    td:nth-of-type(6):before { content: "Final Grade"; }
    td:nth-of-type(7):before { content: "Remarks"; }
    td:nth-of-type(8):before { content: "Section"; }
    td:nth-of-type(9):before { content: "Instructor"; }
    td:nth-of-type(10):before { content: "Credit Units"; }
  }
  */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto&display=swap');



*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto&display=swap');

:root {
    --clr-slate-950: #020617;
    --clr-slate-900: #0f172a;
    --clr-slate-800: #1e293b;
    --clr-slate-700: #334155;
    --clr-slate-600: #475569;
    --clr-slate-400: #94a3b8;
    --clr-slate-300: #cbd5e1;
    --clr-slate-200: #e2e8f0;
    --clr-slate-100: #f1f5f9;
    --clr-slate-50: #f8fafc;

    --bx-shadow: 0 0 5px rgba(0, 0, 0, 0.20);

    --fnt-primary: 'Roboto', sans-serif;
}

table {
    box-shadow: var(--bx-shadow);
    border-collapse: collapse;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}


caption {
    font-family: 'Roboto', sans-serif;
    color: var(--clr-slate-600);
    color: #9ca3af;
    font-size: 16px;
    text-align: left;
    margin-bottom: .6rem;
}

/*
tr:nth-child(odd) {
    background-color: var(--clr-slate-100);
}

tr {
    transition: all 600ms ease;
}

tr:hover {
    background-color: var(--clr-slate-200);
}

th {
    background-color: #dbeafe;
    font-family: 'Poppins', sans-serif;
    color: var(--clr-slate-700);
    
}

td {
    font-family: 'Roboto', sans-serif;
    color: var(--clr-slate-700);
}
*/
th,
tr{
    background-color: rgba(218, 218, 218, 0.288);
    color: white;
}
tr {
    transition: all 600ms ease;
}

tr:hover,
th:hover {
    background-color: var(--clr-slate-200);
    color: black;
}
th {
    text-align: center;
    padding: 8px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 18px;
}
td{
    text-align: center;
    padding: 8px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 15px;
}

/* Utility */
.mt-md {
    margin-top: 2rem;
}