@import url(general.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto&display=swap');


.container {
    /* outline: 1px solid; */
    display: flex;
    max-width: 1536px;
    margin-left: 40px;
    margin-right: auto;
    padding-left: 1rem;
}

.float-right {
    float: right;
}

.overflow {
    overflow-y: scroll;
}

.panel-container {
    background-color: var(--clr-slate-50);
    max-width: 550px;
    padding: 2rem 2rem 3rem;
    box-shadow: var(--bx-shadow);
    border-radius: var(--brd-radius);
    margin: 10px;
}

#student-data {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin: 0 auto; 
}
th{
    text-align: center;  
}

.table-container {
    overflow-x: hidden;
}

.table-sub-container {

    overflow-x: auto;
}

/* Scroll bars */
.table-sub-container::-webkit-scrollbar {
    height: 10px;
}

.table-sub-container::-webkit-scrollbar-track {
    background-color: var(--clr-secondary-95);
    border-radius: var(--brd-radius);
}

.table-sub-container::-webkit-scrollbar-thumb {
    border-radius: var(--brd-radius);
    background-color: var(--clr-secondary);
}



