@import url(general.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&family=Roboto&display=swap');


.container {
    /* outline: 1px solid; */
    display: flex;
    max-width: 1536px;
    margin-left: 40px;
    margin-right: auto;
    padding-left: 1rem;
}

.float-right {
    float: right;
}

.overflow {
    overflow-y: scroll;
}

.panel-container {
    background-color: var(--clr-slate-50);
    max-width: 550px;
    padding: 2rem 2rem 3rem;
    box-shadow: var(--bx-shadow);
    border-radius: var(--brd-radius);
    margin: 10px;
}

#student-data {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 98%;
    margin: 0 auto; 
    
}
th{
    text-align: center;  
}

.table-container {
    overflow-x: hidden;
}

.table-sub-container {

    overflow-x: auto;
}

.modal thead th {
    position: sticky;
    top: 0;
    color: #000;
    background: var(--clr-primary) !important; /* Ensures the background remains white */
    z-index: 1; /* Ensures the headers appear above the table content */
    border: 0px solid var(--clr-primary-95);
}

tbody tr:hover {
    background: no-repeat;
}

/* css for modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    background-color: var(--clr-slate);
    border: 1px solid #888;
    width: 90%; /* Could be more or less, depending on screen size */
    border-radius: 10px;
    margin-left: 55px;
    padding: 20px;
  }
  
  /* Close button */
  .close-btn {
    color: #c90000;
    background: transparent;
    border: none;
    top: 0;
    margin: -19px -10px -5px 0px;
    float: right;
    font-size: 30px;
    font-weight: bold;
  }
  
  .close-btn:hover,
  .close-btn:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
  }


